@import "./variables.scss";

.todo-header {
  margin-top: 2rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $font;
    font-size: 3rem;
    font-weight: 600;
  }

  .checklist-icon {
    margin-left: 1rem;
    font-size: 3rem;
    color: #000000;
    transition: all .5s;

    &:hover {
      color: $primary-green;
    }
  }
}