@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import "../styles/variables.scss";

.todo-item {
  margin-bottom: .5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: $primary-white;

  .title-wrapper {
    display: flex;
    align-items: center;
  }

  .item-title {
    margin: 0;
    font-family: $font;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;

    del {
      color: $gray;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .title-edit > input {
    width: 100%;
  }
}

.checkmark,
.empty-checkmark,
.btn-delete {
  font-size: 1.75rem;
}

.empty-checkmark {
  color: $primary-red;
  transition: all .5s;

  &:hover {
    color: darken($primary-red, 10%);
  }
}

.checkmark {
  color: darken($primary-green, 20%);
  transition: all .5s;

  &:hover {
    color: $primary-green;
  }
}

.btn-delete {
  color: $primary-red;
  transition: all .5s;

  &:hover {
    color: darken($primary-red, 10%);
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {

  .todo-item {
    flex-flow: row nowrap;

    .icon,
    .title-wrapper {
      width: auto;
    }

    .icon:last-child {
      margin-left: auto;
    }
  }

  .checkmark,
  .empty-checkmark,
  .btn-delete {
    font-size: 1rem;
  }
}

@media only screen and (max-device-width : 480px) {

  .todo-item {
    .item-title {
      font-size: 10pt;
    }
  }
}