.todo-add-wrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;

  form {
    flex-grow: 1;

    input {
      width: 100%;
    }
  }

  .btn-save {
    width: 20%;
    // flex-grow: 1;
  }
}

.icon-save {
  font-size: 1.25rem;
  margin-left: .5rem;
}